/* Макросики */
:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --hover-nav-color: #2196f3;
    --hover-button-color: #2196f3;
    --hover-button-text-color: #ffffff;
    --icon-color: #AFB1B8;
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  /* Тельце */
  body {
    color: var(--primary-text-color);
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
    font-family: 'Roboto', sans-serif;
  }
  
  /* Обнуление */
  body {
    margin: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  a {
    text-decoration: none;
  }
  
  p,
  h1,
  h2,
  h3 {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  button {
    font-family: inherit;
  }
  
  img {
    display: block;
  }
  
  /* Общая рамка */
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  
    /* outline: 1px solid tomato; */
  }
  
  /*! HEADER */
  /* Лого */
  header {
    border-bottom: 1px solid #ececec;
  }
  
  .logo {
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.2;
  }
  
  .logow {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.2;
  }
  
  .logob {
    color: var(--hover-nav-color);
  }
  
  /* Навигация */
  .navigation {
    display: flex;
    align-items: center;
    height: 80px;
    
  }
  .nav{
    display: flex;
    align-items: center;
  }
  
  .site-nav {
    display: flex;
    margin-left: 93px;
    
  }
  .site-nav .item{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .site-nav .item:not(:last-child) {
    margin-right: 50px;
  }
  
  .site-info {
    display: flex;
    margin-left: auto;
  }
  
  .site-info .item:not(:last-child) {
    margin-right: 30px;
    
  }
  .link-contacts{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
     color: var(--secondary-text-color);
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
  }
  .link-contacts .icon{
    display: inline-flex;
    margin-right: 10px;
    
    justify-content: center;
    align-items: center;
    fill: var(--secondary-text-color);
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link-contacts:hover .icon,
  .link-contacts:focus .icon{
    fill: var(--hover-nav-color);
    
  }
  
  /* Ссылки и взаимодействие с ними */
  .menu-link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
   
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
  }
  
    
  
  .link-current::after{
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--hover-button-color);
    border-radius: 2px;
    position: absolute;
    bottom: 0;
  }
  
  .link-contacts {
    color: var(--secondary-text-color);
  }
  
  .link:hover,
  .link:focus,
  .link-current {
    color: var(--hover-nav-color);
    
  }
  
  
  /*! MAIN INDEX */
  /* Герой */
  .hero {
    color: #ffffff;
    background-color: #2f303a;
    letter-spacing: 0.06em;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image:  linear-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ),
     url(../images/bk-img.jpg);
      max-width: 1600px;
    background-size: cover;
    margin: auto;
    
  }
  
  .hero h1 {
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  }
  
  .hero-button {
    display: inline-block;
    color: #ffffff;
    background-color: var(--hover-nav-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 10px 32px;
    text-align: center;
    
    
  }
  
  
  /* Особенности */
  .feature {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .feature-list {
    display: flex;
  }
  
  .feature-list .item {
    width: 270px;
  }
  
  .feature-list .item:not(:last-child) {
    margin-right: 30px;
  }
  
  .feature h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }
  
  .feature p {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--secondary-text-color);
    font-size: 14px;
    line-height: 1.71;
  }
  .feature-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background: #F5F4FA;
     border-radius: 4px;
     margin-bottom: 30px;
  }
  /* Чем мы занимаемся */
  .employment {
    text-align: center;
    padding-bottom: 94px;
  }
  
  .employment h2 {
    text-align: center;
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
  
  .employment-list {
    display: flex;
   
  }
  
  .employment-list .item:not(:last-child) {
    margin-right: 30px;
  }
  .employment-list .item{
    position: relative;
    
  }
  .employment-list .item > .items{
    position: absolute;
    top:224px;
    right: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 70px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
     font-size: 14px;
    line-height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.03em;
     text-transform: uppercase;
    
    color: var(--hover-button-text-color);
    background-color: rgba(47, 48, 58, 0.8);
    
    
  }


  
  /* Наша команда */
  .team {
    text-align: center;
    background-color: #f5f4fa;
    padding-top: 94px;
    padding-bottom: 97px;
  }
  
  .team h2 {
    text-align: center;
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
  
  .team-list {
    display: flex;
  }
  
  .team-list .item:not(:last-child) {
    margin-right: 30px;
  }
  
  .team-list .item {
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  
  .team h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 10px;
  }
  
  .team p {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 16px;
  }
  
  .item-box{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .socials-item:not(:last-child) {
    margin-right: 40px;
  }
  
  .social-icons {
    display: inline-flex;
  }
  
  .social-icons-item + .social-icons-item {
    margin-left: 10px;
  }
  .social-icons-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #fff;
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  }
  
  .social-icons-link .icon {
    width: 20px;
    height: 20px;
    fill: var(--icon-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

  }
  .social-icons-link:hover,
  .social-icons-link:focus {
   background-color: var(--hover-button-color);
   
  }
  .social-icons-link:hover .icon,
  .social-icons-link:focus .icon {
    fill: var(--hover-button-text-color);
    
  }
  /* Постоянные клиенты*/
   .client{
    text-align: center;
    padding-bottom: 94px;
    padding-top: 94px;
   }

  .client h2{
    text-align: center;
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
  .client-list{
    display: flex;
  }
  
  .client-icons-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-color);
    box-sizing: border-box;
    border-radius: 4px;
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .client-icons-link .icon{
    
    fill: var(--icon-color);
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .client-icons-item:not(:last-child) {
    margin-right: 30px;
  }
  .client-icons-link:hover,
  .client-icons-link:focus{
    border: 1px solid var(--hover-nav-color);
    
  }
  .client-icons-link:hover .icon,
  .client-icons-link:focus .icon{
    fill: var(--hover-nav-color);
    
  }

  /*! FOOTER */
  /* Футер */
  footer {
    background-color: #2f303a;
    color: #ffffff;
    padding: 60px 0px;
  }
  
  .contacts {
    font-size: 14px;
    line-height: 1.71;
    margin-top: 20px;
  }
  
  .contacts .link-contacts {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
  }
  
  .contacts .item:not(:last-child) {
    margin-bottom: 9px;
  }
  .flexbox {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }
  .content-box:not(:last-child) {
    margin-right: 70px;
  }

  .content-box:not(:last-child){
    width: calc((50%-45px)/2);
  }
  .join{

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
    margin-bottom: 20px;
  }
  .icons-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color:rgba(255, 255, 255, 0.1);
    margin-bottom: 30px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .icons-link .icon {
    width: 20px;
    height: 20px;
    fill: var(--hover-button-text-color);
    
  }
  .icons-link:hover,
  .icons-link:focus {
   background-color: var(--hover-button-color);
   
  }
  .icons-link:hover .icon,
  .cons-link:focus .icon {
    fill: var(--hover-button-text-color);
    
  }
  .footer-button{
    width: 200px;
    height: 50px;
    background-color: var(--hover-button-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 0;
    color: var(--hover-button-text-color);
    font-family: Roboto;
   font-style: normal;
    font-weight: bold;
    font-size: 16px;
  line-height: 30px;
     margin-left: 12px;
     display: flex;
    align-items: center;
    justify-content: center;
     letter-spacing: 0.06em;
  }
  .footer-button .icon{
    display: inline-flex;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
    width: 24px;
    fill: var(--hover-button-text-color);
  }
  .footer-imput{
    
     width: 358px;
     height: 50px;
     border: 1px solid rgba(255, 255, 255, 0.3);
     box-sizing: border-box;
     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
     border-radius: 4px;
     background-color: #2f303a; 
     font-family: Roboto;
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 20px;
     display: inline-flex;
     align-items: center;
     letter-spacing: 0.03em;

     color: rgba(255, 255, 255, 0.6);
}
.footer-form{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;

}

  
  /* модальное окно */
  
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  box-sizing: border-box;
  background-color: var(--hover-button-text-color);
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  outline: none;
  background-color: var(--hover-button-text-color);
  border: 1px solid rgb(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.btn-close-icon {
  position: absolute;
  top: 15%;
  left: 15%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover .icon,
.btn-close:focus .icon {
  fill: var(--hover-button-color);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal-title {
  
  font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 23px;
text-align: center;
letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 12px;

}

.modal-wrap {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
}

.modal-input {
  box-sizing: border-box;
  resize: none;
  width: 100%;
  height: 40px;
   padding-left: 42px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover,
.modal-input:focus {
  border: 1px solid var(--hover-button-color);
  outline-color: var(--hover-button-color);
}

.modal-input:hover + .form-icon,
.modal-input:focus + .form-icon {
  fill: var(--hover-button-color);
}

.modal-field {
  font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 14px;

  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.modal-field:not(:first-child) {
  margin-top: 10px;
}

.input-wrap {
  position: relative;
 
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.comment {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
   font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  padding: 12px 16px;
  resize: none;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  height: 120px;

}

.check {
  margin-top: 20px;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-align: center;

  
  display: flex;
  align-items: center;
  justify-content: center;

}

.modal-link {
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--hover-button-color);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-button{
  
  width: 200px;
  height: 50px;
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  
  display: inline-flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin-top: 30px;
  margin-left: 124px;
  margin-right: 124px;
}

.check-icon {
  
  top: 76%;
  left: 50px;
  width: 15px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 4px;
  cursor: pointer;
  margin-right: 8px;
}

.check-input {
  position: absolute;
  margin: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  
}

.check-input:checked + .check-icon {
  background-image: url(../images/icons/check.svg);
  background-color: var(--hover-button-color);
  border: 2px solid var(--hover-button-color);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.check-icon:focus,
.check-icon:hover{
  border: 2px solid var(--hover-button-color);
}

 




  /*! MAIN PORTFOLIO */
  /* Кнопки фильтра портфолио */
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  .filter {
    display: flex;
    margin-bottom: 56px;
    justify-content: center;
  }
  
  .filter button {
    color: var(--primary-text-color);
    background-color: #f5f4fa;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    padding: 6px 22px;
  
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  
  .filter .item:not(:last-child) {
    margin-right: 8px;
  }
  
  .filter button:hover,
  .filter button:focus {
    color: #ffffff;
    background-color: var(--hover-nav-color);
    border: none;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    

  }

  /* Портфолио */
  
  .content {
    display: flex;
    flex-wrap: wrap;
  }
  
  .content .item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  
  .content .item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
  
  
  
  .content .card-description {
    background: #ffffff;
    border: 1px solid #eeeeee;
    border-top: 0px;
  
    z-index: 2;
    position: relative;
    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 20px;
    padding-right: 24px;
  }
  
  .content .description {
    margin-bottom: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 36px;

    letter-spacing: 0.06em;
    color: #212121;
    
  }
  
  .content .class {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.88;
  
  }
  
  .content .item{
    overflow: hidden;
    position: relative;}

   .content .item:focus,
   .content .item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  
.item-link:hover,
.item-link:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    transition: color  250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow  250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .content .item:hover .overlay,
  .content .item:focus .overlay{
    transform: translatey(0);
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 294px;
 
    background-color: rgba(33, 150, 243, 0.9);
    
    transform: translatey(100%);
    transition: var(--animation);
    z-index: 1;
  }
   
  .overlay > p {
    color: #FFFFFF;
    position: absolute;
    padding: 24px;
    padding-top: 63px;
    margin: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal; 
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
  }